@font-face {
    font-family: DiaPro;
    src: url("../fonts/DiaProV1200/DiaPro-Regular.otf") format('opentype'),
         url("../fonts/DiaProV1200/DiaPro-Regular.woff") format('woff');
}

body {
    background-color: #d3d3d3;
    color: #333;
    font-family: "MS ゴシック";
}

header {
	background-color: #01977a;
	color: white;
	padding: 0px;
	text-align: center;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
}

main {	
	background-color: #01977a;
	color: white;
	padding: 20px;
	text-align: center;
	width: 100%;
	top: 0;
	z-index: 1000;
	font-size: 35px;
	font-family: '游ゴシック', sans-serif;
}
	

/*時刻表*/
.dia { font-family: DiaPro; }
.dia b { font-weight: normal; font-family: DiaPro; font-feature-settings: "titl"; }
.MS { font-family: "MS ゴシック"; }

.diaTb {
    margin-left: 1%; font-size: 16px; display: flex;
}
.diaTb .side, .diaTb .side2 {
    text-align: center; font-size: 100%;
}
.diaTb .side { width: 2rem; margin-right: 0.5%; }
.diaTb .side1 { width: 1rem; display: flex; }
.diaTb .side3 { margin-left: 0.5rem; width: 1rem; }
.diaTb .side .dir { font-size: 200%; }

table.diaMain {
    border: 2px solid black; border-collapse: collapse; display: block;
    font-size: 75%; text-align: center;
}
tr.rowA { height: 2.5rem; }
tr.rowB { height: 2rem; }
tr.rowC { height: 1.2rem; }
tr.rowD, tr.rowE { height: 1rem; }
tr.rowE { border-top: 2px solid black; }
tr.rowF { height: 0.8rem; }

.diaA, .diaB {
    padding: 0 0.5rem; border: 1px solid black;
}
.diaB { min-width: 4em; width: 5.5em; }
.diaC, .diaD { border: none; }
.diaE { border-left: 1px solid black; }
.diaF { width: 1em; font-size: 75%; line-height: 1em; }

.dia1A { font-size: 75%; }
.dia1B {
    background-image: linear-gradient(to right top, transparent 50%, black 50%, transparent);
}



body {
    background-color: whitesmoke;
    color: #333;
    font-family: "MS ゴシック";
}
#sel {
    width: fit-content;
    display: inline-block;
}
#headtime {
    padding-left: 1%;
    width: fit-content;
    display: inline-block;
}
svg {
    z-index: 1;
}

button {
    font-size: 80%; /* 大きさを半分に */
    color: black;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 4px 8px; /* 縮小に合わせてパディングも調整 */
    transition: all 0.2s ease; /* アニメーションを追加 */
}

button:hover {
    background-color: #f0f0f0; /* ホバー時の色 */
    border-color: #999;
}

button:active {
    background-color: #ddd; /* 押された時の背景色 */
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2); /* 押し込まれた感じを演出 */
    transform: scale(0.98); /* 少し縮小して押し込まれた印象を強調 */
}

/* 選択されている間の見た目 */
button.selected {
    background-color: #555; /* 黒目の灰色 */
    color: white; /* テキスト色を白に */
    border-color: #333; /* 境界線を濃い灰色に */
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4); /* 押し込まれたような影 */
}



.section {
    position: absolute;
    left: 0px;
    height: 96px;
    width: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}
.trainline {
    position: relative;
    width: 96px;
    height: 24px;
}
.blue {
    border-color: skyblue;
}
.blue > .box {
    position: absolute;
    left: 4px;
    top: 0;
    width: 52px;
    height: 20px;
    background-color: white;
    border: solid;
    border-color: inherit;
    border-width: 2px;
    font-size: 12px;
}
.blue > .b {
    position: absolute;
    left: 0px;
    top: 0;
    width: 0;
    height: 0;
    border: solid;
    border-width: 12px 4px 12px 0;
    border-left-color: transparent;
    border-right-color: inherit;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.blue > .a {
    position: absolute;
    left: 60px;
    top: 0;
    width: 0;
    height: 0;
    border: solid;
    border-width: 12px 0 12px 4px;
    border-left-color: inherit;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.blue > .delay {
    position: absolute;
    left: 64px;
    top: -4px;
    width: 32px;
    height: 16px;
    color: white;
    background-color: #f6608b;
    font-size: 12px;
    font-weight: bold;
    z-index: 3;
}
.blue > .info {
    position: absolute;
    left: 64px;
    top: 10px;
    width: 48px;
    height: 16px;
    color: #4886a5;
    font-size: 10px;
    z-index: 3;
}


.train {
    position: relative;
    width: 96px;
    height: 24px;
}
.train > .box {
    position: absolute;
    left: 4px;
    top: 0;
    width: 52px;
    height: 20px;
    background-color: white;
    border: solid;
    border-color: inherit;
    border-width: 2px;
    font-size: 10px;
    text-align:center;
}
.train > .up {
    position: absolute;
    left: 0px;
    top: 0;
    width: 0;
    height: 0;
    border: solid;
    border-width: 12px 4px 12px 0;
    border-left-color: transparent;
    border-right-color: inherit;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.train > .down {
    position: absolute;
    left: 60px;
    top: 0;
    width: 0;
    height: 0;
    border: solid;
    border-width: 12px 0 12px 4px;
    border-left-color: inherit;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.train > .delay {
    position: absolute;
    left: 64px;
    top: -4px;
    width: 32px;
    height: 16px;
    color: white;
    background-color: #f6608b;
    font-size: 12px;
    font-weight: bold;
    z-index: 3;
}
.train > .info {
    position: absolute;
    left: 64px;
    top: 10px;
    width: 48px;
    height: 16px;
    color: #4886a5;
    font-size: 11px;
    z-index: 3;
}

.train > .delay { font-size: 12px; }
.train > .info { font-size: 11px; }
.blue > .delay { font-size: 12px; }
.blue > .info { font-size: 10px; }


/* Line Colors */
/* JR Lines */
.linejreUTSS, .linejreChuo, .linejreMusashino, .linejreTakasaki,
.linejreUtsunomiya, .linejreShonanShinjuku, .linejreChuoRapid, .linejreOme { border-color: darkorange; }
.linejreKeihinTohokuNegishi { border-color: skyblue; }
.linejreNambu { border-color: yellow; }
.linejreTokaido { border-color: #ff8c00; }
.linejreYamanote { border-color: #32cd32; }
.linejreKeiyo { border-color: #EF454A; }
.linejreSaikyoKawagoe { border-color: #00AC84; }
.linejreJobanRapid { border-color: #0000ff; }
.linejreChuoSobuLocal { border-color: #ffea00; }
.linejreYokohama { border-color: #00ff00; }
.linejreYokosuka, .linejreSobuRapid { border-color: #0033cc; }
.linejreJobanLocal { border-color: #cccccc; }
.linejreJoban { border-color: #006881; }
